{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container col-lg-9 col-sm-12">
<h3>Привет, меня зовут Дмитрий.</h3>
<p>
  Я немолодой студент "Yandex практикум". Надеюсь, получить дополнительную профессию,
  которую в обозримом будущем планирую перевести в ранг основной. Всегда сремлюсь
  к саморазвитию и совершенству в любом деле. Имею опыт разработки приложений
  для промышленности в рамках SCADA систем, опыт программирования логических контроллеров.
  Увлекаюсь моделированием и ремонтом различной радиоэлектронной аппаратуры. 
</p>
</div>
{% endblock %}